.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(#d963b1, #8e96ec);
}

.radio-btns{
    width: 100%;
    display: flex;
}